<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="Excepciones" xsi:type="File" fileName="P519-Excepciones.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=toString,Data}" />
    <target name="Errores" xsi:type="File" fileName="P519-Errores.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=toString,Data}"
      archiveEvery = "Month"
      archiveFileName = "Errores-{########}.log"
      archiveNumbering = "Date"
      archiveDateFormat = "yyyyMMdd"
      maxArchiveFiles = "4"
            />
    <target name="logconsole" xsi:type="Console" />
    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="debugger" />
    <logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="Excepciones" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="Errores" />
  </rules>
</nlog>